header {
    height: 76px;
    box-shadow: 0px 5px 7px -6px rgba(0, 0, 0, 0.75);
}

footer {
    background-color: #01003f;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    z-index: 2000;
    box-shadow: 0px -3px 7px -2px rgba(0, 0, 0, 0.75);
}

li {
    list-style-type: none;
}

a {
    margin: 0 20px 20px 35px;
    text-decoration: none;
}

.burger-menu__button {
    position: fixed;
    top: 100px;
    margin-left: 12px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2a2a2a;
    transition: 0.4s;
}

.burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
}

.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
    content: '';
    top: -10px;
}

.burger-menu__lines::after {
    content: '';
    top: 10px;
}

.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;

}

.burger-menu_active .burger-menu__nav {
    left: 0;
}

.burger-menu__link {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.burger-menu__link:hover {
    filter: brightness(0.7);
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
    display: block;
}

.buttons {
    background-color: #808080;
    color: white;
    border: 0;
    padding: 15px 23px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    margin: 5px;
}

.buttons:hover {
    box-shadow: 3px 9px 8px -1px rgba(34, 60, 80, 0.45);
}

.buttons:active {
    transform: translateY(2px);
}

.btns {
    margin-left: 90px;
}

.btns p {
    font-size: 20px;
}

.table_div {
    margin-left: 90px;

}

.table_div h1 {
    margin-bottom: 0;
}

.table_div input {
    width: 60px;
}

.table_div p,
input {
    display: inline-flex;
    margin: 0;

}

.table_div p {
    font-size: 25px;
    padding: 0 5px 0 5px;
}

.table_div button {
    background-color: #fd7a7a;
    color: white;
    border: 0;
    padding: 15px 23px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    display: flex;
}

.table_div button:hover {
    background-color: rgb(199, 199, 199);
}

.table_div button:active {
    background-color: rgb(116, 116, 116);
    transform: translateY(2px);
}

table {
    border-collapse: collapse;
}

.table td {
    border: 1px solid black;
    padding: 0 120px 25px 0;
}

.table td:hover {
    background-color: #A1FFBD;
}

.current_date {
    color: white;
    font-size: 25px;
    font-family: Impact, fantasy;
}

footer .current_date {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.current_time {
    font-size: 25px;
    font-family: Impact, fantasy;
}

header .current_time {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

#footer p {
    color: white;
    margin-left: 15px;
}